html,
body {
  margin                   : 0;
  padding                  : 0;
  width                    : 100%;
  height                   : 100%;
  font-size                : 100%;
  -webkit-text-size-adjust : 100%;
  -moz-text-size-adjust    : 100%;
  -ms-text-size-adjust     : 100%;
}

body {
  display          : flex;
  flex-direction   : column;
  background-color : #595959;
}

body * {
  outline : none;
}

#header-panel {
  flex-shrink      : 0;
  flex-grow        : 0;
  min-width        : 0;
  min-height       : 0;
  z-index          : 99;
  box-shadow       : 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color : #eadb69;
}

#main-container {
  flex-shrink    : 1;
  flex-grow      : 1;
  min-width      : 0;
  min-height     : 0;
  display        : flex;
  flex-direction : row;
}

#view-container {
  flex-shrink : 1;
  flex-grow   : 1;
  min-width   : 0;
  min-height  : 0;
}

#left-container {
  flex-shrink    : 1;
  flex-grow      : 1;
  min-width      : 0;
  min-height     : 0;
  display        : flex;
  flex-direction : column;
}

#wifi-container {
  flex           : 1 1 0;
  min-width      : 0;
  min-height     : 0;
  display        : flex;
  flex-direction : column;
}

#wifi-list {
  flex           : 1 1 0;
  min-width      : 0;
  min-height     : 0;
  display        : flex;
  flex-direction : column;
  overflow-y     : auto;
}

#wifi-list:empty {
  font-style : italic;
  text-align : center;
  padding    : 1.5em;
  font-size  : 1.5em;
  color      : silver;
}

#wifi-list:empty:before {
  content : "Click on the map to set the route start and end locations...";
}

.wifi-node {
  border-left : solid 6px #f8f8f8;
}

.wifi-node.visible {
  color             : limegreen;
  background-color  : rgba(50, 205, 50, 0.05);
  border-left-color : limegreen;
}

.wifi-symbol {
  /*box-shadow : 0 1px 2px rgba(0, 0, 0, 0.3);*/
}

#options-panel {
  flex-grow      : 0;
  flex-shrink    : 0;
  min-width      : 0;
  min-height     : 0;
  display        : flex;
  flex-direction : column;
}

#user-thumb-node {
  height         : 36px;
  border-radius  : 18px;
  vertical-align : middle;
}

.top-nav-link:hover, .top-nav-link:focus {
  color               : #222222;
  border-bottom-color : #222222;
}

.esri-widget--button {
  background-color : #eadb69 !important;
}

.esri-legend {
  width : unset !important;
}

.esri-attribution {
  color            : #323232 !important;
  background-color : rgba(234, 219, 105, 0.5) !important;
}

.esri-attribution:hover {
  color            : #222222 !important;
  background-color : rgba(234, 219, 105, 0.9) !important;
}

.side-nav-link:last-of-type {
  border-bottom : solid 1px #efefef;
}

